<ion-header class="ion-no-border" translucent="true">
  <app-logo-toolbar-back></app-logo-toolbar-back>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="notifications-container">

    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>

  </div>  
</ion-content>
