<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

<div class="notification">
  <div class="container">
    <div class="left-info">
      <ion-avatar>
        <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_3.jpg">
      </ion-avatar>
      
      <div class="notification-text">
        @user commented on your post
      </div>
    </div>
    <div class="right-info">
      <img src="{{notificationImage}}" alt="">
    </div>
  </div>
</div>