<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<div class="item" (click)="changeState()">

    <div #image class="destination-image">
        <img src="{{place.imageUrl}}" alt="">
    </div>

    <div class="destination-info">

        <div class="destination-title">
            {{place.location}}
        </div>

        <div class="destination-subtitle">
            {{place.description}}
            <p>Budget: <strong [ngClass]="place.budgetValue == 0 ? 'free' : ''">{{place.budgetValue == 0 ? "Free" : place.budgetValue}}</strong></p>
            <p>Trip length: <strong>{{place.length}}</strong></p>
        </div>
        
    </div>

</div>