.profile-buttons {
  width: 100%;
  height: 60px;

  .container {
    width: fit-content;
    height: 38px;
    display: flex;
    align-items: flex-start;

    // Center vertically
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    // Center horizontally
    margin: auto;

    .tag {
      width: 96px;
      height: 100%;
      // The text inside only has one line
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      border-radius: 28px;
    }
  }
}

.clicked {
  background: #009ad0;
}
