<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<ion-header class="ion-no-border" translucent="true">
  <app-logo-toolbar-none></app-logo-toolbar-none>
</ion-header>

<ion-content [fullscreen]="true" class="no-scroll" overflow-scroll="false">

  <ion-searchbar color="search"></ion-searchbar>

  <div class="tags">
    <div class="tag">Length</div>
    <div class="tag gray">Historical</div>
    <div class="tag gray">Night Life</div>
    <div class="tag gray">Beaches</div>
    <div class="tag gray">Cool</div>
  </div>

  <!-- <ion-list>
    <ion-item *ngFor="let item of items">

      <app-post-item></app-post-item>
      
    </ion-item>
  </ion-list> -->

  <app-post-item></app-post-item>
  <app-post-item></app-post-item>
  <app-post-item></app-post-item>
  <app-post-item></app-post-item>
  <app-post-item></app-post-item>

  <app-change-button></app-change-button>

  
</ion-content>
