.ion-color-search {
  --ion-color-base: #3f3f3f;
  --ion-color-base-rgb: 63, 63, 63;
  --ion-color-base-contrast: #000000;
  --ion-color-base-contrast-rgb: 0, 0, 0;
  --ion-color-base-shade: #b4d5e0;
  --ion-color-base-tint: #d1f3ff;
}

ion-searchbar {
  width: 95%;

  height: 35px;
  margin: auto;
  margin-top: 5px;
}

.tags {
  width: 90%;
  height: 29px;
  margin: auto;
  margin-top: 24px;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
  align-items: flex-start;
  //Hide scrollbar
  -ms-overflow-style: none;
  //Firefox
  scrollbar-width: none;

  //IE
  &::-webkit-scrollbar {
    display: none;
  }
}

.tag {

  height: 80%;
  // The text inside only has one line
  white-space: nowrap !important;
  // overflow: hidden;
  text-overflow: ellipsis !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  // padding: 10px !important;
  width: fit-content !important;

  --background: #009ad0 !important;
  --border-radius: 28px !important;

  margin-right: 13px !important;

  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 11px !important;
  line-height: 13px !important;
}

.gray {
  --background: #3f3f3f !important;
}

ion-segment {
  --background: rgba(206, 206, 206, 0.67);
  border-radius: 28px;
  padding-left: 2px;
  padding-right: 2px;

  width: 80%;
  height: 50px;

  position: fixed;
  z-index: 1;
  width: 223px;
  height: 50px;
  left: calc(50% - 223px / 2 - 0.5px);
  bottom: 50px;

  ion-segment-button {
    --background-checked: #009ad0;
    --indicator-color: none !important;
    --border-radius: 28px;

    // text formatting
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    // center text
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.blacktext {
  color: black;
}

.whitetext {
  color: white;
}

#mapId3 {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
  z-index: -1;
}