.container {
    width: 100%;

    margin-top: 30px;

    p {
      width: 100%;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      align-items: center;
    }

    ion-input {
      height: 35px;
    }
  }