<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<ion-header class="ion-no-border" translucent="true">
  <app-logo-toolbar-back></app-logo-toolbar-back>
</ion-header>

<ion-content>

  <div class="tags">
    <ion-button *ngFor="let day of getNumberOfDays()" [ngClass]="day == currentDay ? 'tag' : 'tag gray'" (click)="dayClicked($event.srcElement.innerText.split(' ')[1])">Day {{day + 1}}</ion-button>
  </div>

  <div class="items-container">
    <app-day-item *ngFor="let place of dayInfo" [place]="place"></app-day-item>
  </div>

</ion-content>
