.tags {
  width: 85%;
  height: 29px;
  margin: auto;
  margin-top: 24px;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
  align-items: flex-start;
  //Hide scrollbar
  -ms-overflow-style: none;
  //Firefox
  scrollbar-width: none;
  //IE
  &::-webkit-scrollbar {
    display: none;
  }
}

.tag {
  height: 80%;
  // The text inside only has one line
  white-space: nowrap;
  // overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: fit-content;
  background: #009ad0;
  border-radius: 28px;
  margin-right: 13px;

  font-family: "Roboto";
  font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.gray {
  background: #3f3f3f;
}

.items-container {
    width: 100%;
    height: 100%;
}