<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<ion-header class="ion-no-border" translucent="true">
  <app-logo-toolbar-back></app-logo-toolbar-back>
</ion-header>

<ion-content>

  <div class="tags">
    <div class="tag">Day 1</div>
    <div class="tag gray">Day 2</div>
    <div class="tag gray">Day 3</div>
  </div>

  <div class="items-container">
    <app-day-item></app-day-item>
  </div>

</ion-content>
