<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<div class="item" (click)="openPost()" >

    <div class="destination-image">
        <img src="{{post.places[0].imageUrl}}" alt="">
    </div>

    <div class="destination-info">

        <div class="destination-title">
            {{post.title}}
        </div>

        <div class="destination-subtitle">
            {{post.description}}
            <p>Budget: <strong>{{getBudget()}}</strong></p>
            <p>Trip length: <strong>{{getTripLength()}}</strong></p>
        </div>

        <ion-icon [name]="alreadySaved ? 'bookmark' : 'bookmark-outline'" (click)="alreadySaved ? deleteClicked($event) : saveClicked($event)"></ion-icon>
        
    </div>

</div>