<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="translucent">
    <div>
      <ion-icon src="assets/edit.svg"></ion-icon>
      <ion-icon src="assets/settings.svg"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-name-pic">

    <ion-avatar>
      <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_3.jpg">
    </ion-avatar>

    <div class="profile-name">
      @judith_smith
    </div>

  </div>

  <app-profile-buttons></app-profile-buttons>

  <div class="horizontal-scroll">
    <!-- <div class="profileguidepost" *ngFor="let post of posts"> -->
      <app-profile-guide-post *ngFor="let post of posts" [post]="post"></app-profile-guide-post>
    <!-- </div> -->
  </div>
  

</ion-content>
